node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Project specific
uploads/*
!uploads/.gitkeep
products.json
.server-pid
server-test.*
bos.traineddata
*.vsix

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db